@import "tailwindcss";

/* 1. Definimos los colores base (Modo Claro Fijo) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* NOTA: He eliminado el bloque @media (prefers-color-scheme: dark)
   para que NO cambie a gris aunque tu Windows esté en modo oscuro.
*/

/* 2. Aplicamos los colores al cuerpo de la página */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}